<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="estilo.css" rel="stylesheet">
</head>
<!-- Se estiver usando bootstrap, coloque o CSS do Locastyle logo após a sua chamada -->
<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

<body>
	<div class="header">
		<h1>Eleições 2020</h1>
		<br>
	</div>
	<br>
	<br>
	<br>
	<div class="containerConsulta">
		<div class="boxConsulta">
	<div >
	<div class="w3-container w3-yellow" >
		<h3 align="center">Consultar</h3>
	</div>

	<form class="w3-container w3-card-4" action="consultarhorario" method="post">
	<br>
	<div style="color: red;" th:each = "m : ${msg}">
		<span th:text = ${m}></span>
	</div>
	<br>
		<p>
			<label>Titulo</label> <input placeholder="Informe seu Titulo" name="numTitulo"
				class="w3-input w3-border" type="text">
		</p>
		<p>
			<label>Nome</label> <input placeholder="Informe o seu nome"  name="nomepesquisa"
				class="w3-input w3-border" type="text">
		</p>
	
		<button
			class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding">Consultar</button>
			<div align="center">
			Não tem uma reseva ? <a href="/">reserve aqui</a>			
			</div>
<br>
	</form>
</div>
</div></div>
	<div class="footer">
		<p>Brasil</p>
	</div>
	<!-- Atente-se para a ordem: primeiro jquery, depois locastyle, depois o JS do Bootstrap. -->
	<script src="//www.google-analytics.com/analytics.js"></script>
	<script type="text/javascript"
		src="//code.jquery.com/jquery-2.0.3.min.js"></script>
	<script type="text/javascript"
		src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
	<script type="text/javascript"
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</body>
</html>
