<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="/estilo.css" rel="stylesheet">
</head>
<!-- Se estiver usando bootstrap, coloque o CSS do Locastyle logo após a sua chamada -->
<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

</head>
<body>
<div class="header">
	<h1>Eleições 2020</h1>
	<br>
	</div>
	<div class="navbar">
  <a href="/">Inicio</a>
  <a href="/consultar">Consultar</a>
</div>
	<div class="containerConsulta">
		<div class="boxConsulta">
	<div th:each="p : ${secaoobj}">
		<div>
			<p>
				ID:<span th:text="${p.id}"></span>
			</p>
			<p style="color: black; font-size: large;">
				O número da sua Secão é: <span th:text="${p.numero}"></span>
			</p>
		</div>

	</div>
	<div th:each="m : ${msg}">
		<span th:text=${m} style="color: red;"></span>
	</div>
	<hr>
	<div>
		<form th:action="@{/addeleitor/{secaoid}(secaoid=${secaoobj.id})}"
			method="post" class="w3-container w3-card-4">
		<br>
			<div>
				<label class="active" for="nome">Nome:</label> 
				<input id="nome" name="nome" class="w3-input w3-border">
			</div>
			<div>
				<label class="active" for="numeroTitulo">Numero Titulo:</label> 
				<input id="numeroTitulo" name="numeroTitulo" class="w3-input w3-border">
			</div>
			<div>
				<label class="active" for="numeroTitulo">Horario:</label> <input
					id="horario" type="time" name="horario" class="w3-input w3-border">
			</div>
			<br>
			<div class="box-actions">
				<button type="submit" class="btn btn-primary">Enviar</button>
				<button class="btn btn-danger">Cancelar</button>
			</div>
		<br>
		</form>
	</div>

	<hr>

	<!-- <table class="table ls-table">
		<tr>
			<th>Nome</th>
			<th>Numero do titulo</th>
			<th>Horario</th>
		</tr>

		<tr th:each="eleitor : ${eleitores}">
			<td th:text="${eleitor.nome}"></td>
			<td th:text="${eleitor.numeroTitulo}"></td>
			<td th:text="${eleitor.horario}"></td>
		</tr>

	</table>-->
	<div class="footer">
		<p>Brasil</p>
	</div>
</div></div>
	<!-- Atente-se para a ordem: primeiro jquery, depois locastyle, depois o JS do Bootstrap. -->
	<script src="//www.google-analytics.com/analytics.js"></script>
	<script type="text/javascript"
		src="//code.jquery.com/jquery-2.0.3.min.js"></script>
	<script type="text/javascript"
		src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
	<script type="text/javascript"
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</body>
</html>