<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>Insert title here</title>
</head>
<body>
<div class="header">
	<h1>Eleições 2020</h1>
	<br>
	</div>
	<table class="striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Numero da Seção</th>
			</tr>
		</thead>
		<tr th:each="secao : ${secoes}">
			<td th:text="${secao.id}"></td>
			<td> <a th:href="@{/eleitores/{idsecao}(idsecao=${secao.id})}"><span th:text="${secao.numero}"></span></a></td>
		</tr>
	</table>
	
</body>
</html>